<div class="center jumbotron">
	<p id="notice"><%= notice %></p>
	<p> <strong>Name:</strong>
	<%= @organization.name %>
	 </p>

	<p> <strong>Location: </strong>
	<%= @organization.location %>
	</p>

	<p> <strong> Project Names:</strong>
	<% if @organization.get_project_name.nil? %>
	No projects yet. <br> <%= link_to "Add Project", new_project_path,class: "btn btn-primary"%> 

	<% else %>
	  <%= @organization.get_project_name %>
	<% end %>
	</p>

	<%= link_to 'Edit', edit_organization_path(@organization) , class: "btn btn-primary"%> |
	<%= link_to 'Back', organizations_path , class: "btn btn-primary"%>


</div>
